@import './theme/default/index.scss';

.editor-wrap {
    // display: flex;
    // justify-content: flex-start;
    height: 100%;
    display: flex;

    .editor-content {
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .editor-opreate-content {
        position: relative;
        flex: 1;
    }
}
