.editor {
    height: 100%;
    overflow: auto;

    /* 重置 prism 样式 */
    .token.operator {
        background: transparent !important;
    }

    .editor-inst {
        position: relative;
        height: 100%;
    }
}
