$fontFamily: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

$HeaderHeight: 37px;
$HeaderFontSize: 14px;
$HeaderFontColor: #37352f;
$HeaderBgColor: #ffffff;

$NavFontSize: 14px;
$NavFontColor: #37352f;
$NavBgColor: #ffffff;

.editor-wrap.moka--default {

    .header-wrap {
        height: $HeaderHeight;
        background-color: $HeaderBgColor;
        color: $HeaderFontColor;
        font-size: $HeaderFontSize;
        font-family: $fontFamily;
    }

    .editor-nav-wrap {
        position: relative;
        background-color: $NavBgColor;
        color: $NavFontColor;
        font-size: $NavFontSize;
        font-family: $fontFamily;
        z-index: 21;
        cursor: initial;
    }
}
