.footer-wrap {
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 20px;
    color: #ffffff;
    font-size: 12px;
    background-color: #007acc;
    box-sizing: border-box;
}
