.menu-item-wrap {
    width: calc(100% - 8px);
    margin: 0 4px;
    border-radius: 3px;
    transition: background 20ms ease-in;
    cursor: pointer;
    user-select: none;

    &:hover,
    &.active {
        background-color: rgba(55, 53, 47, 0.08);
    }

    .menu-item {
        padding: 4px 0;
        min-height: 45px;
        display: flex;
        align-items: center;
        line-height: 120%;
        font-size: 14px;
        user-select: none;
        box-sizing: border-box;
    }

    .menu-item-image-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1px 4px 0 10px;
        align-self: flex-start;

        img {
            object-fit: cover;
            border-radius: 3px;
            background-color: white;
            width: 46px;
            height: 46px;
            flex-grow: 0;
            flex-shrink: 0;
            box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px;
        }
    }

    .menu-item-content {
        margin: 0 14px 0 6px;
        flex: 1 1 auto;

        .menu-item-name {
            margin-right: 6px;
            display: flex;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: rgb(55, 53, 47);
        }

        .menu-item-desc {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: rgba(55, 53, 47, 0.65);
            margin-top: 2px;
            font-size: 12px;
        }
    }
}
