.color-picker-wrap {
    width: auto;

    button {
        color: #333;
        height: 28px;
        font-size: 13px;
        cursor: pointer;
        border: none;
        border-radius: 2px;
    }
}
